{% block jqgrid_h %}
{% spaceless %}
<div id="{{grid.name|raw}}_wrapper" {% if grid.hideifempty %}style="display: none;"{% endif %}>
  <table class="eps_jqgrid" id="{{grid.name|raw}}"></table>
  <div id="pager_{{grid.name|raw}}"></div>
</div>
{% endspaceless %}
{% endblock jqgrid_h %}

{% block jqgrid_j %}
<script type="text/javascript">
  function imageFormat( cellvalue, options, rowObject ){
    return '<img src="/bundles/oppextranet/images/'+cellvalue+'" />';
  };
  
  function imageUnFormat( cellvalue, options, cell){
    return $('img', cell).attr('src');
  };
  
  
    var configs = $.extend(
      {
        minDate: new Date(2012, 0, 1),
        maxDate: new Date(2017, 9, 13)
      },
      $.datepicker.regional['{{ grid.culture }}'],
      {
        "dateFormat": "{{  grid.datepickerformat }}",
        firstDay: 1,
        closeText: '{% trans %}close{% endtrans %}',
        showButtonPanel: true,
//        changeYear: true,
//        changeMonth: true,
        onSelect: function(dateText, inst) {
          var tmpid = $(this).closest('.ui-jqgrid-view').attr('id');
          if (tmpid) {
            var gridid = tmpid.substring(6);
            $('#' + gridid)[0].triggerToolbar();
          }
        }
      }
   );


  $(document).ready(function() {
    datePick = function(elem)
    {
        jQuery(elem).datepicker(configs);
    }


    jQuery("#{{ grid.name|raw }}").jqGrid({
        url: '{{ grid.getrouteurl }}',
        {% if grid.hideifempty %}
        gridComplete: function() {
            var recs = parseInt($("#{{ grid.name|raw }}").getGridParam("records"),10);
            if (recs == 0) {
                $("#{{ grid.name|raw }}_wrapper").hide();
            }
            else {
                $('#{{ grid.name|raw }}_wrapper').show();
            }
        },
        {% endif %}
        colNames:[{% for col in grid.columns %}'{{col.name|trans}}', {% endfor %}],
        colModel:[
            {{ grid.columnscolmodel|raw }}
        ],
        {{  grid.options|raw }}
        {% if grid.caption != '' %}caption:"{{ grid.caption }}", {% endif %}
        pager: '#pager_{{ grid.name|raw }}',
        kkBeforeSearch: function() {}
    });

    jQuery("#{{ grid.name|raw }}").jqGrid('navGrid','#pager_{{ grid.name|raw }}',{ {{ grid.navoptions|raw }} });
    jQuery("#{{ grid.name|raw }}").navGrid("#pager_{{ grid.name|raw }}").navSeparatorAdd("#pager_{{ grid.name|raw }}", {sepclass : "ui-separator",sepcontent: ''}).navButtonAdd("#pager_{{grid.name|raw}}",{id : "resetSearch_{{grid.name|raw}}" ,caption:"", buttonicon:"ui-icon-home", onClickButton:null, position: "last", title:"{% trans %}Reset filters{% endtrans %}", cursor: "pointer"});
{#
    jQuery("#{{ grid.name|raw}}").jqGrid('filterToolbar', {
        stringResult: true,
        searchOnEnter: true,
        defaultSearch: "cn",
        beforeClear: function () {
            $.extend($("#{{ grid.name|raw }}")[0].p.postData, {_clearFilter: true});
        },
        afterClear: function () {
            $.extend($("#{{ grid.name|raw }}")[0].p.postData, {_clearFilter: false});
        },
        beforeSearch: function() {
          $("#{{ grid.name|raw }}")[0].p.kkBeforeSearch();
        }
    });

    $("#resetSearch_{{ grid.name|raw }}").click(function() {
        jQuery("#{{ grid.name|raw }}")[0].clearToolbar();
    });
#}    
    /* fill gs inputs based on server data */
    var cm = $("#{{ grid.name|raw}}").jqGrid("getGridParam", "colModel");
    
    //var data = {"groupOp":"AND","rules":[{"field":"cm.pCorrectedDocumentDate","op":"cn","data":"2012/10/01"}]};
    var userData = $("#{{ grid.name|raw}}").jqGrid("getGridParam", "userData");
    
    if (userData.filters) {    
      var rules = userData.filters.rules;
    }
    
    if (rules) {
      for (var k=0; k<rules.length; k++) {
        var fieldIndex = rules[k].field;
        var fieldData = rules[k].data;
        for (var i=0; i<cm.length; i++) {
          if (cm[i].index == fieldIndex) {
            $("#gs_" + cm[i].name).val(fieldData);
          }
        }
      }
    }
    /** end fill */ 
    
    //var msg = cm[4].index;
    //alert(data.rules[0].data);

    //$("#{{ grid.name|raw}}").setGridWidth($("#{{grid.name|raw}}_wrapper").width());
  });

  $(window).bind('resize', function() {
    //$("#{{ grid.name|raw}}").setGridWidth($("#{{grid.name|raw}}_wrapper").width());
  }).trigger('resize');
</script>
{% endblock jqgrid_j %}


{% block jqgrid %}
    {{ block("jqgrid_h") }}
    {{ block("jqgrid_j") }}
{% endblock jqgrid %}    


{% block jqgrid_csv %}
"Na razie tyle",
{% endblock jqgrid_csv   %}    
